body {
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    color: #00aeae;
    text-align: center;
    letter-spacing: .2em;
    background: linear-gradient(to right, #0e8d6d, #003cff);
}